/*
Name: Toby Pike
File: style.css
Date: October 18, 2024
style.css for assignment 3 part 3
*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    margin: 0 auto;
    padding: 0;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.2px;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }
  
  section p:first-of-type {
    text-indent: 20px;
  }
  
  a {
    color: #a66;
    text-decoration: underline;
  }
  
  a:visited {
    color: #884444;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: #cc9999;
  }
  
  a:active {
    color: #ff6600;
    font-weight: bold;
  }
  
  a[href^="http"]:after {
    content: ' 🔗';
  }
  
  a:focus {
    outline: none;
  }
  
  ul, ol {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    line-height: 1.8;
  }
  
  li {
    line-height: 1.8;
    padding-left: 10px;
  }
  
  ul {
    list-style-type: square;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    color: #444;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #eee;
    margin-bottom: 5px;
  }
  
  nav ul li a:hover {
    background-color: #ccc;
    text-decoration: none;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  section {
    width: 70%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  aside {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header, footer {
    background-color: #6699cc;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer {
    border-top: 5px solid #a66;
  }
  
  